.attribution { font-size: 11px; text-align: center; display: none;}
.attribution a { color: hsl(228, 45%, 44%); }

* {
  font-family: 'Rubik', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(226, 43%, 10%);
  color: white; 
}

main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}

.big-card {
  grid-row-start: 1;
  grid-row-end: 3;
}


.daily, .monthly {
  display: none;
}


.big-card-main {
  background: hsl(246, 80%, 60%);
}

.big-card-bottom {
  background: hsl(235, 46%, 20%);
}

.card-main {
  background: hsl(235, 46%, 20%);
}

small {
  color: hsl(236, 100%, 87%);
}

ul {
  color: hsl(235, 45%, 61%);
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  line-height: 2.2;
}

h1 {
  margin: 20px 0 5px 0;
  font-weight: 300;
  font-size: 50px;
}

h2 {
  margin: 0;
  font-weight: 300;
  font-size: 36px;
}

p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.active {
  color: white; 
}


/* GENERAL CARD ELEMENTS */ 
.card {
  width: 230px;
  height: 215px;
  position: relative;
}

.card-main {
  padding: 30px;
  height: 120px;
  width: 170px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
}

.card-top {
  height: 65px;
  width: inherit;
  border-radius: 15px;
}

.elipses {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 15px;
}

/* INDIVIDUAL CARD ELEMENTS */ 
.big-card {
  position: relative;
  width: 230px;
  height: 455px;
}
.big-card-main {
  border-radius: 15px; 
  height: 240px;
  padding: 30px;
  position: absolute;
  top: 0;
}
.big-card-bottom {
  border-radius: 15px; 
  height: 120px;
  width: 170px;
  bottom: 0;
  padding: 30px;
  margin-top: 275px;
}

.card-one {
  background: hsl(15, 100%, 70%) url("../images/icon-work.svg") no-repeat calc(100% - 20px) -15px;
}

.card-two {
  background: hsl(195, 74%, 62%) url("../images/icon-play.svg") no-repeat calc(100% - 20px) -15px;
}
.card-three {
  background: hsl(348, 100%, 68%) url("../images/icon-study.svg") no-repeat calc(100% - 20px) -15px;
}
.card-four {
  background: hsl(145, 58%, 55%) url("../images/icon-exercise.svg") no-repeat calc(100% - 20px) -15px;
}
.card-five {
  background: hsl(264, 64%, 52%) url("../images/icon-social.svg") no-repeat calc(100% - 20px) -15px;
}
.card-six {
  background: hsl(43, 84%, 65%) url("../images/icon-self-care.svg") no-repeat calc(100% - 20px) -15px;
}

.face {
  width: 70px;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  margin-bottom: 30px;
}

.big-card-bottom ul li:hover {
  cursor: pointer;
}

/* note: 
1st create the project without json - using the default html text instead. 
then after project is finished, use json to get text 
*/ 